# mlpro-classification-bank-churn-2025

L’objectif de ce projet est de prédire si un client va continuer à utiliser les services de la banque ou s’il va clôturer son compte (churn)

 ## Overview

 L’objectif de ce projet est de prédire si un client va continuer à utiliser les services de la banque ou s’il va clôturer son compte (churn). Pour ce faire, nous disposons d’un ensemble de données clients contenant plusieurs caractéristiques démographiques, financières et comportementales. Nous devons développer un modèle de prédiction capable de déterminer, pour chaque client, s'il va résilier ou non car cela permet aux banques de mettre en place des stratégies de rétention efficaces.

## Description

Voici les explications pour chaque variable:

- Customer ID : Un identifiant unique pour chaque client
- Surname : Le nom de famille du client
- Credit Score : Une valeur numérique représentant le score de crédit du client
- Geography : Le pays où réside le client (France, Spain ou Germany)
- Gender : Le genre du client (Male or Female)
- Age : L’âge du client
- Tenure : Le nombre d’années pendant lesquelles le client est avec la banque
- Balance : Le solde du compte du client
- NumOfProducts : Le nombre de produits bancaires utilisés par le client (par exemple, compte d’épargne, carte de crédit)
- HasCrCard : Si le client possède une carte de crédit (1 = oui, 0 = non)
- IsActiveMember : Si le client est un membre actif (1 = oui, 0 = non)
- EstimatedSalary : Le salaire estimé du client
- Exited : Si le client a résilié (1 = oui, 0 = non)

## Evaluation

Pour évaluer les résultats, nous utiliserons le score F1.

## Submission

Pour chaque ID du test set, Vous devez prédire si oui (1) ou non (0) le client va clôturer son compte à la banque. Le fichier doit contenir deux colonnes, ID et Exited, en respectant ce format:

ID,Exited
- 2,0
- 5,0
- 6,1
- etc.

# Début du projet

### Import des packages

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Import du jeu de donné d'entraînement

In [13]:
df_train = pd.read_csv("train_data.csv")
df_train

,ID,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,37765,15794860,Ch'eng,627,France,Male,28.0,7,131694.04,1,1.0,1.0,161205.61,0
1,130453,15728005,Hargreaves,597,France,Male,34.0,2,0.00,2,0.0,1.0,181419.29,0
2,77297,15686810,Ts'ui,724,France,Male,39.0,7,0.00,2,1.0,1.0,100862.54,0
3,40858,15760244,Trevisano,663,Germany,Female,56.0,5,118577.24,3,1.0,0.0,61164.45,1
4,19804,15810563,French,627,France,Female,33.0,5,0.00,2,1.0,1.0,103737.82,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143574,97639,15759915,Onwumelu,559,Germany,Male,45.0,3,111634.29,1,1.0,1.0,103349.74,0
143575,95939,15769974,Shih,597,Germany,Male,41.0,10,119182.73,1,0.0,0.0,121299.14,0
143576,152315,15592028,Hsiao,576,Spain,Male,31.0,6,127299.56,1,1.0,1.0,57569.89,0
143577,117952,15804009,Ch'ang,751,France,Female,27.0,4,90721.11,1,0.0,0.0,84496.78,0
143578,43567,15771409,Chukwukadibia,718,Germany,Female,40.0,1,131753.99,1,1.0,0.0,140937.98,1

### Analyse des données